@font-face {
  font-family: 'MatahariBold';
  src: url('/font/Matahari/Matahari-800ExtraBold.ttf');
}

@font-face {
  font-family: 'Matahari';
  src: url('/font/Matahari/Matahari-400Regular.ttf');
}

html {
  height: 100vh;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 0;
  font-family: 'Matahari';
}
sup {
  font-size: '58%';
  font-weight: 600;
}
// ul {
//   -moz-column-count: 2;
//   -webkit-column-count: 2;
//   column-count: 2;
// }

.test:parent {
  column-count: 2;
}

.slick-dots li button:before {
  font-size: 12px !important;
  color: #ff7e64 !important;
}
// .WaterMarkBox {
//   position: absolute;
//   z-index: -1;
//   display: flex;
//   bottom: 2px;
//   opacity: 0.1;
//   max-width: 1440px;
//   top: 0;
//   left: 450px;
//   width: 500px;
//   height: 300px;
// }
// @media only screen and (max-width: 800px) {
//   .WaterMarkBox {
//     top: 30;
//     left: '35%';
//     width: 30vw;
//     height: 40vw;
//   }
// }
// @media only screen and (max-width: 1100px) {
//   .WaterMarkBox {
//     top: 30;
//     left: 265px;
//   }
// }
// @media only screen and (max-width: 1500px) {
//   .WaterMarkBox {
//     top: 30;
//     left: 470px;
//   }
// }
